/* CSS Document */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}

/* Variables */
:root {
  --primary-bg-color: #113259;
  --secondary-bg-color: #fff;
  --btn-color: #dc582a;
  --txt-light: #fff;
  --txt-dark: #113259;
  --font-black: 900;
}

/* Defaults */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

input, button {
  font-family: inherit;
}

/* Text */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 4em;
  text-align: center;
}

h3 {
  font-size: 1.875em;
}

/* Font Black */
h1, h2, h3, h4, a:not(.anchor-exception) {
  font-weight: var(--font-black);
}

/* Banner Container: Logo & Hamburger Icon */
div[role=banner]{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 1em 0 4em;
}

div[role=banner]>div:first-of-type {
  width: 20em;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

div[role=banner]>div>img{
  width: 8em;
  height: 2em;
}

/* Hamburger Icon*/
div[role=banner]>div:nth-of-type(2) {
  width: 4em;
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
}

header>div[role=banner]>div>button {
  width: 3rem;
  height: 3rem;
  border-radius: 625em;
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  border: none;
}

header>div[role=banner]>div>button>img {
  width: 1rem;
  height: 0.75rem;
}

/* fix-burger is added by JS onscroll */
header>[role=banner]>div>button.fix-burger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: 1px solid #e2e8f0;
}

/* Navigation */
nav {
  background: var(--primary-bg-color);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
	transform: translateX(600px);
	transition: .4s;
  text-transform: uppercase;
  z-index: 99999;
  padding: 0 1em 0 2em;
}

nav>ul {
  margin: 10em 0 9.3em 0;
}

nav>ul>li {
  list-style-type: none;
  margin-top: 1em;
}

nav>ul>li>a {
  text-decoration: none;
  color: var(--txt-light);
  font-size: 1.25em;
}

/* Applied with js */
nav.show-nav {
  transform:translateX(0vw);
}

/* Leaf styling */
nav>img {
  position: absolute;
  width: 2em;
  top: 9.5em;
  left: 8em;
}

/* Close button */
nav>button {
  background: var(--secondary-bg-color);
  width: 3rem;
  height: 3rem;
  border-radius: 625em;
  border: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

nav>button::after {
  content: "×";
  font-size: 1.875rem;
}

/* Video in nav */
nav>div {
  width: fit-content;
  height: fit-content;
  transform: rotate(-6deg);
  margin-left: 0.5em;
}

nav>div>img:first-of-type {
  width: 16.6875em;
  border-radius: 0.3em;
}

nav>div>img:nth-of-type(2) {
  position: absolute;
  width: 2.5em;
  left: 6.8125em;
  top: 3em;
}

/* Header */
header {
  background-image: url("../images/stars.png"), linear-gradient(#113259 10%, #b4dbe1 80%);
  color: var(--txt-light);
  position: relative;
  overflow: hidden;
}

/* Top Bar */
header>div:first-of-type {
  background: #b4dbe1;
  color: var(--txt-dark);
  width: 100%;
  height: 5.286em;
  font-size: 0.8750em;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding: 1em 0.5em;
}

header>div:first-of-type>p {
  width: 100%;
  margin: 0 auto;
}

header>div:first-of-type>p>a {
  color: var(--txt-dark);
}

/* Introduction article */
header>article:first-of-type {
  margin-top: 3em;
  text-align: center;
}

header>article:first-of-type>p {
  margin-top: 1em;
  padding: 0 1em;
  font-weight: 500;
}

/* Video image combined by multiple absolute images */
header>div:nth-of-type(4) {
  width: 90%;
  height: 10em;
  margin: 2.125em 0 3em 0;
  position: relative;
  transform: rotate(-6deg);
}

header>div:nth-of-type(4)>img:first-of-type {
  position: absolute;
  width: 4.0625em;
  left: 0.9375em;
}

header>div:nth-of-type(4)>img:nth-of-type(2) {
  position: absolute;
  width: 16.25em;
  left: 4.9375em;
}

header>div:nth-of-type(4)>img:nth-of-type(3) {
  position: absolute;
  width: 2.5em;
  z-index: 999;
  left: 11.8125em;
  top: 3.5625em;
}

header>div:nth-of-type(4)>img:nth-of-type(4) {
  position: absolute;
  width: 18.75em;
  z-index: 999;
  left: 3.625em;
  top: 7.5em;
}

/* video pop-up */
header>div:nth-of-type(3) {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url("../images/stars.png"), linear-gradient(#113259, #416894);
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 0 1em;
  justify-content: center;
  align-items: center;
  display: none;
}

header>div:nth-of-type(3).show {
  display: flex;
}

/* Close pop-up button */
header>div:nth-of-type(3)>button {
  background: var(--secondary-bg-color);
  width: 3rem;
  height: 3rem;
  border-radius: 625em;
  border: none;
  position: absolute;
  top: 19rem;
  right: 0;
  z-index: 9999;
}

header>div:nth-of-type(3)>button::after {
  content: "×";
  font-size: 1.875rem;
}

header>div:nth-of-type(3)>img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

header>div:nth-of-type(3)>iframe {
  height: 25%;
  z-index: 9998;
}

/* Parallax container */
header>section {
  width: 100%;
  position: relative;
  height: 20.625em;
  display: flex;
  justify-content: center;
}

header>section>h2 {
  position: absolute;
}

/* Cuts off edges of header image */
header>section>div {
  position: absolute;
  height: 20.625em;
  z-index: 2;
}

/* Fit image inside container (div) */
header>section>div>img {
  margin-top: 6em;
  width: 100%;
  height: 25em;
  object-fit: cover;
  object-position: 50% 50%;
}

main {
  width: 100%;
  position: relative;
  background-image: linear-gradient(#fff, #b4dbe1);
}

/* Donations */
main>section:first-of-type {
  position: absolute;
  background: var(--secondary-bg-color);
  border-radius: 0.5em;
  width: 22.5em;
  height: auto;
  top: -1.5625em;
  left: 50%;
  margin-left: -11.25em;
  color: var(--txt-dark);
  padding: 1.5em 0.5em;
  box-shadow: 0 4px 10px rgba(0,0,0,.1);
  z-index: 3;
  text-align: center;
}

main>section:first-of-type>h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

main>section:first-of-type>p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 700;
}

main>section:first-of-type>form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main>section:first-of-type>form>label {
  background: #edf2f7;
  border: 1px solid #e2e8f0;
  border-radius: 0.5em;
  padding: 0.75em 0;
  width: 10em;
  margin: 0 0.3125em 0.5em 0.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type=radio] {
  display: none;
}

main>section:first-of-type>form>input[type=radio]:checked + label {
  background: var(--primary-bg-color);
  color: var(--txt-light);
}

main>section:first-of-type>form>input[type=text] {
  font-size: 1em;
  width: 20.5em;
  height: 3em;
  padding: 0 0.625em;
  background: #edf2f7;
  border-radius: 0.5em;
  border: 1px solid #e2e8f0;
  color: var(--txt-light);
}

main>section:first-of-type>form>input[type=text]::placeholder {
  color: var(--txt-dark);
}

main>section:first-of-type>form>input[type=text]:focus {
  background: var(--primary-bg-color);
}

main>section:first-of-type>form>input[type=text]:focus::-webkit-input-placeholder {
  color: var(--txt-light);
}

form>img {
  width: 20.5em;
  margin: 1.5em 0;
}

form>button[type=submit] {
  font-size: 1em;
  background: var(--btn-color);
  padding: 1.3em 1.5em;
  width: 20.5em;
  text-align: center;
  color: var(--txt-light);
  text-decoration: none;
  border-radius: 625em;
  border: none;
  font-weight: var(--font-black);
}

/* Leaderboard */
main>section:nth-of-type(2){
  padding: 30.5em 0 10em 0;
}

main>section:nth-of-type(2)>h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.875em;
  color: var(--txt-dark);
}

/* Filter container */
main>section:nth-of-type(2)>div:first-of-type {
  margin: 2em 0;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: var(--txt-dark);
  font-size: 0.875em;
  font-weight: 700;
}

/* Link to search page */
main>section:nth-of-type(2)>div:first-of-type>a {
  padding: 0.5rem 1.5rem;
  background: var(--secondary-bg-color);
  border-radius: 625em;
  text-decoration: none;
  color: var(--txt-dark);
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

main>section:nth-of-type(2)>div:first-of-type>a>span {
  padding-right: 1em;
}

/* Radio container */
main>section:nth-of-type(2)>div:first-of-type>form {
  margin-top: 1rem;
  width: 16.45rem;
  height: 2.3125rem;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 625em;
  display: flex;
  align-items: center;
  color: #4a5568;
}

main>section:nth-of-type(2)>div:first-of-type>form>label {
  padding: 0.5rem 1rem;
}

main>section:nth-of-type(2)>div:first-of-type>form>input[type=radio]:first-of-type + label {
  color: #000;
}

/* Change radio when checked */
main>section:nth-of-type(2)>div:first-of-type>form>input[type=radio]:checked + label {
    background: var(--secondary-bg-color);
    color: var(--txt-dark);
    padding: 0.5rem 1rem;
    border-radius: 625em;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,.2);
}

/* Donations */
main>section:nth-of-type(2)>div:nth-of-type(2) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Single donation */
main>section:nth-of-type(2)>div:nth-of-type(2)>article {
  position: relative;
  background: var(--secondary-bg-color);
  margin-top: 1em;
  width: 22.4375em;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0.5em 5em;
  border-radius: .375em;
  color: var(--txt-dark);
}

main>section:nth-of-type(2)>div:nth-of-type(2)>article>img {
  position: absolute;
  top: 1em;
  left: 0;
  width: 2.5em;
  margin-left: 1em;
}

main>section:nth-of-type(2)>div:nth-of-type(2)>article>h4 {
  font-size: 1.125em;
  padding-top: 0.5em;
}

main>section:nth-of-type(2)>div:nth-of-type(2)>article>p:nth-of-type(2) {
  background: #518360;
  color: var(--txt-light);
  width: fit-content;
  padding: 0 1em;
  border-radius: 625em;
}

main>section:nth-of-type(2)>div:nth-of-type(2)>article>p:nth-of-type(3) {
  font-size: 0.75em;
  margin: 0.5rem 0 0;
}

/* Button leaderbord */
main>section:nth-of-type(2)>div:nth-of-type(2)>a {
  background: var(--btn-color);
  color: var(--txt-light);
  padding: 1em 1.5em;
  margin-top: 3em;
  width: 22.4375em;
  text-align: center;
  text-decoration: none;
  border-radius: 625em;
}

main>img:first-of-type {
  width: 100%;
  height: auto;
  display: block;
}

/* Projects */
main>section:nth-of-type(3) {
  background: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 6em 0 6em 0;
  overflow-x: hidden;
}

main>section:nth-of-type(3)>h3 {
  text-transform: uppercase;
  font-size: 1.875em;
  color: var(--txt-light);
}

main>section:nth-of-type(3)>p {
  color: #fff;
  text-align: center;
  padding: 0 1em;
}

/* Container for map */
main>section:nth-of-type(3)>div:first-of-type {
  height: 20.3125em;
  width: 20.3125em;
  position: relative;
  margin-top: 4em;
}

main>section:nth-of-type(3)>div:first-of-type>img {
  position: absolute;
  width: 2em;
}

/* Map */
main>section:nth-of-type(3)>div:first-of-type>div:first-of-type {
  background-image: url("../images/world-map.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 625em;
  position: absolute;
  z-index: 2;
}

/* Radial background */
main>section:nth-of-type(3)>div:first-of-type>div:nth-of-type(2) {
  position: absolute;
  background: radial-gradient(circle closest-side, #b4b9e1, transparent);
  width: 115%;
  height: 115%;
  left: -8%;
  top: -8%;
  z-index: 1;
}

/* Container for controls */
main>section:nth-of-type(3)>div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

/* Controls */
main>section:nth-of-type(3)>div:nth-of-type(2)>button {
  width: 3rem;
  height: 3rem;
  background: var(--secondary-bg-color);
  margin: 0 1em;
  border-radius: 625em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* Left control */
main>section:nth-of-type(3)>div:nth-of-type(2)>button:nth-of-type(1)::after {
  content: '\2190';
}

/* Right control */
main>section:nth-of-type(3)>div:nth-of-type(2)>button:nth-of-type(2)::after {
  content: '\2192';
}

/* Region/projects */
main>section:nth-of-type(3)>section {
  padding: 0 1em;
}

main>section:nth-of-type(3)>section>h3 {
  font-size: 1.25em;
  color: #fff;
  text-transform: uppercase;
  margin-top: 3em;
}

/* Single project */
main>section:nth-of-type(3)>section>article {
  background: var(--secondary-bg-color);
  padding: 1em;
  border-radius: .5em;
  position: relative;
  margin-top: 16px;
  color: var(--txt-dark);
}

main>section:nth-of-type(3)>section>article>h4 {
  font-size: 1.125em;
}

/* Amount of trees */
main>section:nth-of-type(3)>section>article>p:nth-of-type(2) {
  background: #6fba0d;
  color: var(--txt-light);
  width: fit-content;
  padding: .25em .5em;
  font-size: 0.875em;
  border-radius: 625em;
  margin-top: 0.5em;
}

main>section:nth-of-type(3)>section>article>p:nth-of-type(3) {
  margin-top: 1em;
}

/* Badge */
main>section:nth-of-type(3)>section>article>div {
  position: absolute;
  text-align: center;
  top: -2.5em;
  right: 3.625em;
}

main>section:nth-of-type(3)>section>article>div>img {
  position: absolute;
  width: 5em;
}

main>section:nth-of-type(3)>section>article>div>p {
  color: var(--txt-light);
  font-size: 0.75em;
  position: absolute;
  font-weight: 700;
  top: 1.75em;
  left: 1em;
}

/* Socials */
main>section:nth-of-type(4) {
  background: var(--primary-bg-color);
  color: var(--txt-light);
  text-align: center;
  padding: 8em 0;
}

main>section:nth-of-type(4)>ul {
  display: flex;
  justify-content: center;
}

main>section:nth-of-type(4)>ul>li {
  margin: 0 0.5em;
  list-style-type: none;
}

main>section:nth-of-type(4)>ul>li>a>img {
  width: 2.5em;
}

iframe {
  width: 100%;
  height: 20em;
  margin-top: 2em;
  border: none;
}

footer {
  background: var(--primary-bg-color);
  width: 100%;
  padding-bottom: 1em;
}

footer>img {
  width: 100%;
}

footer>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

footer>ul>li {
  list-style-type: none;
  margin-top: 1em;
}

footer>ul>li>a {
  text-decoration: none;
  color: var(--txt-light);
}

/* START OF STORE PAGE */
/* .store>header {
  display: flex;
  flex-direction: column;
}

.store>header>nav {
  background: var(--secondary-bg-color);
  width: 100%;
  height: 20em;
}

.store>header>nav>ul>li>img,
 .store>header>nav>ul>li>a>img,{
  width: 3em;
}

.store>header>div {
  width: 100%;
  background: #ccc;
  color: var(--txt-light);
}

.store>header>section {
  width: 100%;
  height: 20em;
  background: url('../images/store-header-bg.png');
  background-size: cover;
} */
